@use "../../Utilities/variables";
@use "../../Utilities/mixins";


.error {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;

    .error-icon {
        font-size: 5vw;
    }
    
    .message {
        font-size: 1.5vw;
        text-align: center;
    }

    img {
        width: 4vw
    }
}

