.recommendee-card-container {
    width: 50vw;
    height: 35vh;
    background-color: #ac894b;
    color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.home-bookmark {
    height: 6vh;
    position: relative;
    left: 3vw;
    bottom: 12.75vh;
    cursor: pointer;
}

.poster-img {
    height: 90%;
    padding-right: 5%;
    cursor: pointer;
}

.clickable-title{
    text-decoration: none;
    color: #D9D9D9;
}

.recommendee-card-info {
    display: flex;
    flex-direction: column;
}

.post-date {
    color: #D9D9D9;
    margin-bottom: 0px;
    margin-left: 1vw;
}