

.details__left {
  position: relative;
}

.details__left__bookmark {
  position: absolute;
  left: 10px;
  width: 35px;
  cursor: pointer;
  transition-duration: 500ms;
}

.details__left__poster {
  width: min(310px, 28vw);
  height: fit-content;
}