@use "../../Utilities/variables";

.details-parent {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: min(1065px, 80%);
  color: white;
}

.details__title {
  position: absolute;
  white-space: nowrap;
  top: -80px;
  font-size: 2rem;
  margin-bottom: 15px;
  color: #E8C56B;
}

.details__lower {
  display: flex;
  justify-content: space-around
}

.details__lower__left {
  position: relative;
  width: 37%;
  
  &__bookmark {
    position: absolute;
    left: 10px;
    width: 35px;
    cursor: pointer;
    transition-duration: 500ms;
  }
  
  &__poster {
    width: 100%;
  }
}

.details__lower__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: max(2vw, 28px);
  border-radius: variables.$global-border-radius;
  background-color: #A58048;
}

.details-table {
  width: 42%;
  height: 17vh;
}

.details-table__provider-icon {
  height: 3vw;
  margin-right: 0.5vw;
  border-radius: 50%;
}

.details-table__genres {
  font-weight: 800;
}