$details-avatar-width: 50px;

.details-avatar {
  width: $details-avatar-width;
  text-align: center;
  margin: 0px 10px;
  width: 80px;
}

.details-avatar__img {
  max-width: $details-avatar-width;
}

.details-avatar__name {
  font-size: .8rem;
  margin: 0px;
}