@use "../../Utilities/variables";

$details-inner-width: 90%;

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: $details-inner-width;
  color: white;
}

.details__title {
  position: absolute;
  top: -80px;
  font-size: 2rem;
  margin-bottom: 15px;
  color: #E8C56B;
  width: 65vw;
}

.details__lower {
  display: flex;
  justify-content: center;
}

.details__lower__left {
  position: relative;
  width: 40%;

  &__bookmark {
    position: absolute;
    left: 10px;
    width: 35px;
    cursor: pointer;
    transition-duration: 500ms;
  }

  &__poster {
    width: min(340px, 28vw);
    height: fit-content;
  }
}

.details__lower__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding: max(2vw, 28px);
  border-radius: variables.$global-border-radius;
  background-color: #A58048;
}

.provider-icons {
  height: 3vw;
  margin-right: 0.5vw;
  border-radius: 50%;
}

.detail-genre-data {
  margin: 0;
}

.detail-mini-data-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.stream-rating-container {
  display: flex;
  align-items: center;
}

.stream-icon-container {
  margin-left: 1vw;
}

.detail-and-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #320B0C;
  color: #F2CF70;
  height: fit-content;
  padding: 1vw;
  margin-bottom: 2vw;
}

.detail-title {
  width: 90%;
  padding-left: 10%;
  font-size: 5vh;
  margin-top: 0;
}

.details-parent{
  margin-top: -10vh;
}