$login-background-color: #101419;
$login-area-color: #320B0C;
$login-button-color: #F2CF70;
$text-color: #D9D9D9;

.page-not-found {
    background-color: $login-area-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
    .go-home-button {
            color:$login-background-color;
            background-color: $login-button-color;
            text-decoration: none;
            font-size: 1.5vw;
            border-radius: 2vw;
            padding: 1vw 2vw;
    }
}