.search-and-poster-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #320B0C;
    color: #F2CF70;
    height: fit-content;
    padding: 1vw;
}

.search-error-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-title {
    width: 90%;
    padding-left: 10%;
    font-size: 5vh;
    margin-top: 0;
}

.mini-poster-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
}